.input{
    width:100%;
    padding:15px;
    border:1px solid var(--border);
    border-radius:var(--radius);
    outline:none;
    transition:.2s;
}

.input:focus{
    border-color:var(--primary);
}
